* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*Removed header class and replaced w/ header element */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Removed header class and replaced w/ h1 element */
h1 {
    display: inline-block;
    font-size: 48px;
}

/*Changed from class to id tag since there is element is only used once*/ 
#seo {
    color: #d9dcd6;
}

/*Changed element div to nav*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Removed ul element on CSS. Placed list-style-type: none to li element*/ 
li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Moved content below hero to match with html syntax*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Nested .search-engine-optimization, .online-reputation-management and .social-media-marketing under successful-tools
/*Moved above float tag to line up with html syntax*/
.successful-tools {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Nested .search-engine-optimization img, .online-reputation-management img and .social-media-marketing img under successful-tools img*/
.successful-tools img {
    max-height: 200px;
}

/*Nested under successfull tools*/
.successful-tools h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Nested .benefit-lead, benefit-brand and benefit-cost under .benefit-section*/
.benefit-section {  
    margin-bottom: 32px;
    color: #ffffff;
  
}

/* Nested .benefit-lead h3, benefit-brand h3 and benefit-cost h3 under .benefit-section h3*/
.benefit-section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Nested .benefit-lead img, benefit-brand img and benefit-cost img under .benefit-section img*/
.benefit-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Removed footer class as it is not necessary*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Removed footer class as it is not necessary*/
footer h2 {
    font-size: 20px;
}
